.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #77a7cd;
}
.image-mask {
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}
