.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  width: 200px;
  border-right: 1px solid #ccc6be;
  background-color: #f3f3f3;
  /* flex-grow: 1; */
}
.image-mask {
  clip-path: polygon(5% 5%, 95% 5%, 95% 95%, 5% 95%);
}
.list-group.contact-info {
  --bs-list-group-bg: #f3f3f3;
}
.contact-link {
  text-decoration: none;
}
.contact-link address {
  margin-bottom: unset;
}
