@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.my-resume-project {
  --brand-color: #274260;
  --font-color: #0d2842;
  --bs-body-color: var(--font-color);

  --bs-heading-color: var(--brand-color);
  --bs-border-color: #e3e0d6;
  --bs-border-width: 2px;
  --bs-light-rgb: 243, 243, 243;
}
.my-resume-project .list-group {
  --bs-list-group-color: var(--font-color);
}
.my-resume-project .navbar {
  --bs-navbar-brand-color: var(--brand-color);
  --bs-navbar-active-color: var(--brand-color);
}

.my-resume-project .navbar-toggler:focus {
  box-shadow: 0px 0px var(--bs-navbar-toggler-focus-width) var(--brand-color);
}
